<div>
	<div id="clock" class="dark">
			<div class="display">
				<div class="weekdays">
					<span class="">Mon</span>
					<span class="">Tue</span>
					<span class="">Wed</span>
					<span class="">Thu</span>
					<span class="">Fri</span>
					<span class="active">Sat</span>
					<span class="">Sun</span>
				</div>
				<div class="alarm"></div>
				<div class="digits">
					{{#each time.hours key="@index" as |digit| }}
						<div class="dig-{{digit}}">
							<span class="d1"></span>
							<span class="d2"></span>
							<span class="d3"></span>
							<span class="d4"></span>
							<span class="d5"></span>
							<span class="d6"></span>
							<span class="d7"></span>
						</div>
					{{/each}}
					<div class="dots"></div>
					{{#each time.minutes key="@index" as |digit| }}
						<div class="dig-{{digit}}">
							<span class="d1"></span>
							<span class="d2"></span>
							<span class="d3"></span>
							<span class="d4"></span>
							<span class="d5"></span>
							<span class="d6"></span>
							<span class="d7"></span>
						</div>
					{{/each}}
					<div class="dots"></div>
				{{#each time.seconds key="@index" as |digit| }}
					<div class="dig-{{digit}}">
						<span class="d1"></span>
						<span class="d2"></span>
						<span class="d3"></span>
						<span class="d4"></span>
						<span class="d5"></span>
						<span class="d6"></span>
						<span class="d7"></span>
					</div>
				{{/each}}

				</div>
			</div>
		</div>
</div>
